*{
	font-size: 16px;
	line-height: 24px;
	font-weight: 500px;
}

body{
	font-family: 'Archivo', sans-serif;
}

.container{
	width: 1000px;
	margin: 0 auto;
}

.menu{
	position: fixed;
	background-color: #222931;
	height: 40px;
	width: 950px;
	left: 285px;
	top: 50px;
	z-index: 1;
}

.nav1{
	position: fixed;
	top: 48px;
	margin-left: 10px;
	color: #ffffff;
	font-size: 12px;
}

.nav2{
	background-color: #222931;
	position: fixed;
	top: 48px;
	margin-left: 75px;
	color: #ffffff;
	font-size: 12px;
}

.submenu{
	opacity: 0;
}

.nav2:hover .submenu{
	position: absolute;
	opacity: 1;
	background-color: #222931;
	top: 20px;
	left: 20px;
	padding: 15px;
}

.link{
	text-decoration: none;
	color: white;
	font-size: 16px;
}

.nav3{
	background-color: #222931;
	position: fixed;
	top: 48px;
	margin-left: 180px;
	color: #ffffff;
	font-size: 12px;
}

.nav4{
	background-color: #222931;
	position: fixed;
	top: 48px;
	margin-left: 290px;
	color: #ffffff;
	font-size: 12px;
}

.nav5{
	background-color: #222931;
	position: fixed;
	top: 48px;
	margin-left: 375px;
	color: #ffffff;
	font-size: 12px;
}


.logo{
	margin-left: 150px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.header{
	width: 1000px;
}

.banner1{
	position: relative;
	background: url('img/banner-1.jpg');
	top: 50px;
	left: 30px;
	width: 300px;
	height: 200px;
	background-size: cover;

}

.banner1child{
	width: 300px;
	height: 200px;
	background-color:rgba(0,0,0,0.5);
	cursor: pointer;
	display: none;
}

.banner1:hover .banner1child{
	display: inline-block;
}

.GesText{
	color: white;
	line-height: 200px;
	text-align: center;
	margin: 0;
	font-size: 32px;
	font-weight: 600px;	
}

.banner2{
	position: relative;
	background: url('img/banner-2.jpg');
	width: 300px;
	height: 200px;
	background-size: cover;
	left: 345px;
	bottom: 150px;
}

.banner2child{
	width: 300px;
	height: 200px;
	background-color:rgba(0,0,0,0.5);
	cursor: pointer;
	display: none;
}

.banner2:hover .banner2child{
	display: inline-block;
}

.DealText{
	color: white;
	line-height: 200px;
	text-align: center;
	margin: 0;
	font-size: 32px;
	font-weight: 600px;
}

.banner3{
	position: relative;
	background: url('img/banner-3.jpg');
	width: 300px;
	height: 200px;
	background-size: cover;
	bottom: 350px;
	left: 660px;
}

.banner3child{
	width: 300px;
	height: 200px;
	background-color:rgba(0,0,0,0.5);
	cursor: pointer;
	display: none;
}

.banner3:hover .banner3child{
	display: inline-block;
}

.DiensText{
	color: white;
	line-height: 200px;
	text-align: center;
	margin: 0;
	font-size: 32px;
	font-weight: 600px;
}

.yellowbar{
	position: relative;
	background-color: #ffe718;
	width: 1000px;
	height: 100px;
	bottom: 300px;
}

.yellowbartext{
	position: relative;
	top: 45px;
	left: 180px;
	font-weight: bold;
	font-size: 28px;
}

.yellowbartext2{
	position: relative;
	bottom: 4px;
	left: 490px;
	font-weight: bold;
}

.meerweten{
	position: relative;
	font-size: 14px;
	bottom: 50px;
	left: 790px;
	width: 100px;
	height: 20px;
	padding: 5px;
	line-height: 20px;
	text-align: center;	 
	font-weight: bold;
	background-color: white;
	
}

.footer{
	position: relative;
	width: 1000px;
	padding-top: 30px;
	bottom: 300px;
}

.handshake{
	position: relative;
	background-color: #ffe718;
	height: 100px;
	width: 200px;
	bottom: 350px;
	left: 100px;
}

.Handtext{
	position: relative;
	left: 70px;
	bottom: 20px;
	font-weight: bold;
	font-size: 18px;
}

.tas{
	position: relative;
	background-color: #ffe718;
	height: 100px;
	width: 200px;
	bottom: 450px;
	left: 400px;
}

.posbrief{
	position: relative;
	bottom: 650px;
	left: 450px;
	font-weight: 500px;
}

.brief{
	position: relative;
	background-color: #ffe718;
	height: 100px;
	width: 200px;
	bottom: 550px;
	left: 700px;
}

.balk{
	position: relative;
	color: black;
	width: 800px;
	bottom: 500px;
}

.OverText{
	position: relative;
	bottom: 450px;
	left: 100px;
}

.Overlorem{
	position: relative;
	left: 100px;
	bottom: 430px;
	margin-right: 600px;
}

.ContactTitle{
	position: relative;
	bottom: 720px;
	left: 700px;
}

.contact1{
	position: relative;
	font-weight: normal;
	left: 700px;
	bottom: 703px;
	font-size: 15px;
	padding: 0px;
}

.footerbar{
	position: relative;
	background-color: #222931;
	width: 1000px;
	height: 50px;
	bottom: 600px;
}

.footernaam{
	position: relative;
	color: white;
	font-size: 16px;
	font-weight: normal;
	top: 15px;
	left: 800px;

}

.SecPtext1{
	position: relative;
	width: 900px;
	height: 700px;
	left: 50px;
}

.TextP1{
	margin-top: 50px;
}

.SecTitle{
	position: relative;
	top: 30px;
}

.pijl{
	position: relative;
	top: 20px;
}

.test{
	position: relative;
	color: #ffe718;
}
.test2{
	color: white;
	font-size: 13px;
	line-height: 15px;
	width: 100px;
	padding: 5px;
	top: 20px;
	left: 5px;
	background-color: #aeb6be;
	display: none;
}

.test:hover .test2{
	position: absolute;
	display: inline-block;
}

.Yellowbartext{
	position: relative;
	top: 45px;
	left: 150px;
	font-weight: bold;
	font-size: 28px;
}